@import "tailwindcss";

@theme inline {
  --color-brand: var(--sanki-green);

  --color-white-alpha-5: var(--white-alpha-5);
  --color-white-alpha-10: var(--white-alpha-10);
  --color-white-alpha-20: var(--white-alpha-20);
  --color-white-alpha-30: var(--white-alpha-30);
  --color-white-alpha-40: var(--white-alpha-40);
  --color-white-alpha-50: var(--white-alpha-50);
  --color-white-alpha-60: var(--white-alpha-60);
  --color-white-alpha-70: var(--white-alpha-70);
  --color-white-alpha-80: var(--white-alpha-80);
  --color-white-alpha-90: var(--white-alpha-90);
  --color-white: var(--white);

  --color-black-alpha-5: var(--black-alpha-5);
  --color-black-alpha-10: var(--black-alpha-10);
  --color-black-alpha-20: var(--black-alpha-20);
  --color-black-alpha-30: var(--black-alpha-30);
  --color-black-alpha-40: var(--black-alpha-40);
  --color-black-alpha-50: var(--black-alpha-50);
  --color-black-alpha-60: var(--black-alpha-60);
  --color-black-alpha-70: var(--black-alpha-70);
  --color-black-alpha-80: var(--black-alpha-80);
  --color-black-alpha-90: var(--black-alpha-90);
  --color-black: var(--black);

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --color-green-50: var(--green-50);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-950: var(--green-950);
}

/** typography **/
@theme {
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
}

:root {
  /*  Primitive colors */
  --sanki-green: oklch(0.5697 0.1188 140.25);
  --white-alpha-5: oklch(1 0 0 / .05);
  --white-alpha-10: oklch(1 0 0 / .10);
  --white-alpha-20: oklch(1 0 0 / .20);
  --white-alpha-30: oklch(1 0 0 / .30);
  --white-alpha-40: oklch(1 0 0 / .40);
  --white-alpha-50: oklch(1 0 0 / .50);
  --white-alpha-60: oklch(1 0 0 / .60);
  --white-alpha-70: oklch(1 0 0 / .70);
  --white-alpha-80: oklch(1 0 0 / .80);
  --white-alpha-90: oklch(1 0 0 / .90);
  --white: oklch(1 0 0);
  --black-alpha-5: oklch(0 0 0 / .05);
  --black-alpha-10: oklch(0 0 0 / .10);
  --black-alpha-20: oklch(0 0 0 / .20);
  --black-alpha-30: oklch(0 0 0 / .30);
  --black-alpha-40: oklch(0 0 0 / .40);
  --black-alpha-50: oklch(0 0 0 / .50);
  --black-alpha-60: oklch(0 0 0 / .60);
  --black-alpha-70: oklch(0 0 0 / .70);
  --black-alpha-80: oklch(0 0 0 / .80);
  --black-alpha-90: oklch(0 0 0 / .90);
  --black: oklch(0 0 0);
  --gray-50: oklch(0.99 0 0);
  --gray-100: oklch(0.97 0 0);
  --gray-200: oklch(0.92 0 0);
  --gray-300: oklch(0.86 0 0);
  --gray-400: oklch(0.77 0 0);
  --gray-500: oklch(0.67 0 0);
  --gray-600: oklch(0.55 0 0);
  --gray-700: oklch(0.41 0 0);
  --gray-800: oklch(0.26 0 0);
  --gray-900: oklch(0.11 0 0);
  --gray-950: oklch(0.05 0 0);
  --green-50: oklch(0.99 0.0048 140.25);
  --green-100: oklch(0.97 0.0122 140.25);
  --green-200: oklch(0.92 0.0338 140.25);
  --green-300: oklch(0.86 0.0592 140.25);
  --green-400: oklch(0.77 0.085 140.25);
  --green-500: oklch(0.67 0.1072 140.25);
  --green-600: oklch(0.55 0.1201 140.25);
  --green-700: oklch(0.41 0.1171 140.25);
  --green-800: oklch(0.26 0.0829 140.25);
  --green-900: oklch(0.11 0.0346 140.25);
  --green-950: oklch(0.05 0.0161 140.25);
}

@layer base {
  body {
    @apply bg-white text-gray-900;
    font: var(--font-noto-sans-jp);
    font-feature-settings: "palt" 1;
  }
}
